


@media screen and(min-width:320px){

    .Hero{
     
        height:65vh;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
      
    
        .Hero_text{
            position:relative;
            top:15vh;
        p{
            color:black;
            text-align: center;
            font-size: 1.5rem;
            letter-spacing: 0.5rem; 
        }
    }
    
        .Hero_image{
            
            width:100%;
            text-align: center;
            position:relative;
            overflow: hidden;
       
          
            .mountain{
                width:100%;
                object-fit: cover;
                object-position: -2vw 0vh;
                z-index: 1;

               
            }

            .cloud{
                width:200px;
                position:absolute;
                object-fit: cover;
                top:5rem;
                left:18px;
                opacity:0;
                animation: moveLeft 35s ease-in-out 1s infinite;
                z-index: 2;
            }
            .cloudOne{
                z-index:-1;
                opacity:0;
                width:122px;
                position:absolute;
                top:0.8rem;
                left:0px;
                animation: moveLeft 35s ease-in-out 10s infinite;
            }
            @keyframes moveLeft {
                0%{left:-1vw; opacity:0}
                30%{opacity:1}
                90%{opacity:1}
                100%{left:33rem;opacity:0}
            }

          

        }

    
    }
}



@media screen and(min-width:768px){
    .Hero{
        position:relative;
        margin-top:2rem;
        width:100%;
        height:65vh;

        .Hero_text{
            position:relative;
            top:12vh;
        p{
            color:black;
            text-align: center;
            font-size: 1.5rem;
            letter-spacing: 0.5rem; 
        }
    }
    
        .Hero_image{
            text-align: center;
            position:relative;
            width:100%;
            overflow: hidden;
       
          
            .mountain{
                width:650px;
                object-fit: cover;
                object-position: 0vw 0vh;
               
            }

            .cloud{
                width:262px;
                position:absolute;
                object-fit: cover;
                top:6rem;
                left:18px;
                opacity:0;
                animation: moveLeft 35s ease-in-out 1s infinite;
            }
            .cloudOne{
                opacity:0;
                width:162px;
                position:absolute;
                top:1rem;
                left:0px;
                animation: moveLeft 35s ease-in-out 10s infinite;
            }
            @keyframes moveLeft {
                0%{left:1vw; opacity:0}
                30%{opacity:1}
                90%{opacity:1}
                100%{left:33rem;opacity:0}
            }
        }
    }

}

@media screen and(min-width: 1024px){

    .Hero{
        position:relative;
        margin-top:2rem;
        margin-bottom:0rem;
        width:100%;
        height:65vh;

        .Hero_text{
         
            position:relative;
            top:10vh;
        p{
            color:black;
            text-align: center;
            font-size: 1.5rem;
            letter-spacing: 0.5rem; 
        }
    }
      
    
    
        .Hero_image{
            position:relative;
            width:100%;
            overflow: hidden;
       
          
            .mountain{
                width:650px;
                object-fit: cover;
                object-position: 0vw 0vh;
               
            }

            .cloud{
                width:262px;
                position:absolute;
                object-fit: cover;
                top:6rem;
                left:18px;
                opacity:0;
                animation: moveLeft 45s ease-in-out 1s infinite;
            }
            .cloudOne{
                opacity:0;
                width:162px;
                position:absolute;
                top:1rem;
                left:0px;
                animation: moveLeft 45s ease-in-out 10s infinite;
            }

            @keyframes moveLeft {
                0%{left:0vw; opacity:0}
                30%{opacity:1}
                90%{opacity:1}
                100%{left:55rem;opacity:0}
            }
        }
    }
    
}

@media screen and(min-width: 1440px){
  
        .Hero{
            position:relative;
            margin-top:2rem;
            margin-bottom:0rem;
            width:100%;
            height:65vh;
          
            .Hero_text{
                    position:relative;
                    top:10vh;
                p{
                    color:black;
                    text-align: center;
                    font-size: 1.5rem;
                    letter-spacing: 0.5rem; 
                }
            }
        
            .Hero_image{
                text-align: center;
                position:relative;
                
                width:100%;
                overflow: hidden;
           
              
                .mountain{
                    width:650px;
                    object-fit: cover;
                    object-position: 0vw 0vh;
                   
                }
    
              
            .cloud{
                width:260px;
                position:absolute;
                object-fit: cover;
                top:6rem;
                left:18px;
                opacity:0;
                animation: moveLeft 75s ease-in-out 1s infinite;
            }
            .cloudOne{
                opacity:0;
                width:182px;
                position:absolute;
                top:0.5rem;
                left:0px;
                animation: moveLeft 75s ease-in-out 25s infinite;
            }

            @keyframes moveLeft {
                0%{left:15vw; opacity:0}
                30%{opacity:1}
                90%{opacity:1}
                100%{left:85rem;opacity:0}
            }

            }
        }
        
    
}
