@media screen and (min-width:1024px) {

    .Video {
        padding: 1rem;


        .input-video {
            display: flex;
            padding: 1rem;


        }

        h3 {
            padding: 1rem;
            color: rgb(236, 96, 218);
        }

        .image-container {
            margin-top: 2rem;
        }
    }

}